# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Файлы данных
favorites.json
*.jpg
*.png

# OS
.DS_Store
Thumbs.db

# Зависимости
*.egg-info/
dist/
build/
